.App {
    padding: 85px;
    display: flex;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Roj_emblem.svg/440px-Roj_emblem.svg.png);

}

.App > div {
    margin-right: 50px;
}

.error {
    border: red 1px solid;
}

.error-message {
    color: red;
}

.active-filter {
    background-color: aquamarine;
}

.is-done {
    opacity: 0.5;
}